# Firebase Configuration (Copia este archivo como .env.local y coloca tus claves)
VITE_FIREBASE_API_KEY=tu_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=olimpiada-9127b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=olimpiada-9127b
VITE_FIREBASE_STORAGE_BUCKET=olimpiada-9127b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=110977594090
VITE_FIREBASE_APP_ID=1:110977594090:web:6a3bb3aa02edc3a401dd93
